.grid table {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grid td {
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  background-color: #483b3a;
  width: 16px;
  height: 16px;
}
