.box {
  background-color: #5c5b5e;
  width: 120px;
  border-radius: 10px;
  border: 1px solid #7c7c7e;
  margin: 1% 0 0 1%;
  position: absolute;
}

.stats p {
  margin: 0;
  color: #00ff01;
}

.stats .healthDiagram {
  margin: 0 auto;
}

.healthDiagram table {
  margin: 0 auto;
  border-collapse: collapse;
  z-index: 1;
}

.healthDiagram td {
  border: 1px solid #656668;
  width: 10px;
  height: 10px;
}

.humanSvg {
  position: absolute;
  margin-left: 10px;
  top: 20px;
  width: 100px;
  height: auto;
  /* fill: #00ff01; */
  z-index: 2;
}

.playerInfo p {
  text-align: center;
  /* color: black; */
}

.weapon {
  bottom: 0;
  margin-bottom: 1%;
}

.weapon img {
  display: block;
  margin: auto;
  width: 100px;
}

.weapon p {
  margin: 0;
  color: #fff;
  text-align: center;
}
